.menu-superior {
display: grid;
grid-template-columns: repeat(4, 1fr);
grid-template-rows: 1fr;
grid-column-gap: 0px;
grid-row-gap: 0px;
}

.div1 { grid-area: 1 / 1 / 2 / 2;
    border: 10px;
    border-left: 30 px ;
    border-color: blue;
    background-color: aliceblue;
 }
.div2 { grid-area: 1 / 2 / 2 / 3; }
.div3 { grid-area: 1 / 3 / 2 / 4; }
.div4 { grid-area: 1 / 4 / 2 / 5; }

.div1:hover{
    color: red

}

.div2:hover{
    color: red

}
.div3:hover{
    color: red

}
.div4:hover{
    color: red

}

.solucion {
    background-color: black;
    display:flex;

    justify-content: space-evenly;
    align-items: center;

    & a {
        color: yellow;
        text-decoration: none;
        text-align: center;
        padding: 5px;
        border-bottom-style: solid;
        border-color: black;
        transition: 0.5s;
    }

    & a:hover{
        color: white;
        border-bottom-style:solid;
        border-color: yellow;
    }

}

