/* .clase {
    font-weight: normal;
    font-family: 'Gill Sans', sans-serif;
    font-size: 14px;
    color: rgb(168, 76, 0);
    background-color: rgb(132, 200, 248);
    line-height: 1.5;
} */

body {
    font-weight: normal;
    font-family: 'Gill Sans', sans-serif;
    font-size: 14px;
    color: rgb(168, 76, 0);
    background-color: rgb(132, 200, 248);
    line-height: 1.5;

    & h1,h2 {
        font-size: 15px
    }
}

