body {
  font-family:
    "Inter",
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Helvetica,
    Arial,
    sans-serif;

  & .tweet {
    display: flex;
    flex-direction: column;
    border: solid;
    border-width: 1px;
    border-color: black;
    border-radius: 8px;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.75);
    & .autor {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      & .icono {
        margin-left: 20px;
        margin-top: 20px;
        margin-right: 15px;

        img {
          border-radius: 50px;
        }
      }

      & .nick {
        margin: 2px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: left;
        justify-content: left;

        & a {
          text-decoration: none;
          color: black;
        }

        & .arroba {
          color: gray;
        }
      }

      & .desplegable {
        margin-right: 20px;
      }
    }

    & .contenido {
      margin: 20px;

      & .fecha {
        color: gray;
        font-size: 13px;
      }
    }

    & .interacciones {
      display: flex;
      flex-direction: row;
      margin-left: 20px;
      margin-right: 20px;
      gap: 20px;
      border: solid;
      border-left: none;
      border-right: none;
      border-color: rgba(94, 95, 94, 0.244);
      border-width: 1px;
      padding: 5px;

      & a {
        text-decoration: none;
        color: black;
      }
    }

    & .menu {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      margin-left: 20px;
      margin: 20px;
    }
  }
}

@media all and (max-width:500px) {
    .tweet{
        background-color: rgb(0, 229, 255);
}
}